html{
    font-size: 10px;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;

}

body{
    direction: rtl;
}

.container{
    display: flex;
    flex-direction: column;
}

header{
    height: 7rem;
    background-color: #202b49;
    display: flex;
    align-items: center;
}

header a{
    color: aliceblue;
    padding-right: 7rem;
    font-size: 18px;
    text-decoration: none;
}

footer{
    background-color: #202b49;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 18px;

}

main{
    padding: 0 20px;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.main{
    width: calc(70% - 20px);
}

.sidebar{
    width: calc(30% - 20px);
}

.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.filter .form-chekbox{
    display: flex;
    margin: 5px;
}

.filter .form-chekbox .form-group{
    margin-left: 1rem;
}

.filter .form-chekbox .form-group input{
    margin-left: 5px;
}

.filter select{
    padding: 5px;
    border: 1px solid rgb(187, 187, 187);
    width: 150px;
    margin-right: 10px;
    font-size: 15px;
}

.products ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.products li{
    width: calc(33.33% - 20px);
    box-shadow: 0 0 10px #00000049;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    margin-top: 25px;
}

.products li img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.products li p{
    text-align: right;
    font-size: 17px;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 20px;
}

.products li .product-price{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products li .product-price .price{
    font-size: 18px;
    color: rgb(32, 43, 73);
}

.products li .product-price button{
    background-color: rgb(32, 43, 73);
    color: aliceblue;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.sidebar{
    padding: 10px;
    box-shadow: 0 0 10px #5f5f5f52;
}

.empty-price{
    color: crimson;
    background-color: #ffdddd;
    text-align: center;
    font-size: 17px;
    padding: 7px 0;
    font-weight: bold;
}

.show-price{
    color: green;
    background-color: rgb(216, 255, 216);
    text-align: center;
    font-size: 17px;
    padding: 7px 0;
    font-weight: bold;
}

.cart-item{
    margin-top: 20px;
    overflow: hidden;
}

.cart-item .product-item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.cart-item .product-item .product-detail{
    display: flex;
}

.cart-item .product-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.cart-item .product-item p{
    font-size: 15px;
    margin-right: 10px;
}

.cart-item .product-item .price{
    font-size: 15px;
    display: flex;
    align-items: center;
}

.cart-item .product-item .price .qty{
    background-color: #2b672b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.cart-item .product-item .remove-item button{
    background-color: crimson;
    color: aliceblue;
    width: 100px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 4px
}

.total-price{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7c7c7;
    height: 100px;
    font-size: 18px;
}

.total-price .end-price{
    margin-right: 10px;
}